@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    font-family: 'Lato', sans-serif;
    
}

.ri-user-line{
    font-size: 25px;
}

.ri-shopping-cart-2-line{
    font-size: 25px;
}

.product-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.ri-close-circle-line{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.ri-arrow-left-circle-line{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ri-arrow-right-circle-line{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title{
    width: 45%;
}

.price{
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity{
    width: 30%;
    display: flex;
    align-items: center;
}

.total{
    width: 10%;
    display: flex;
    align-items: center;
}

.products{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}

.grandTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.grandTotalTitle{
    width: 30%;
}

.grandTotal{
    width: 30%;
}